@charset 'utf-8';

@import "_base.scss";

// mixin
@mixin common_border($border:1px solid #dbdbdb, $borderRadius: 6px){
	border: $border;
	border-radius: $borderRadius;
}

// mixin end

// layout
#header{
	width: 960px;
	height: 30px;
	margin: 0 auto;
	border-radius:0 0 6px 6px;
	.city{
		float: left;
		padding: 5px 0 0 20px;
		color: #666;
		a{
			display: inline-block;
			padding: 0 7px;
			height: 18px;
			line-height: 18px;
			color: #999;
			background:#fff; border:1px solid #e5e5e5; border-radius:4px; box-shadow:1px 1px 0 #ededed;
			&.active{
				color:#d60d03; background:#fff;
			}
			&:hover{
				background:#f1f1f1;
			}
		}
	}
	.link{
		float: right;
		padding-right:20px; line-height:30px; color:#d5d5d5; word-spacing:4px;
		a{
			color:#666; background:url(../img/header_link_bg.gif) no-repeat 0 3px; padding-left:20px;
			&:hover{text-decoration: underline;}
			&.ico1{background-position: 0 3px;}
			&.ico2{background-position: 0 -27px;}
		}
	}	
}

#nav{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	h1{
		width: 223px;
		height: 62px;
		margin: 0 auto;
		position: relative;
		top:10px;
	}
	ul{
		&.nav_1{left:11px;}
		&.nav_2{right:11px;}
		position: absolute;
		top:10px;
		li{
			float: left;
			a{
				display: block; width:66px; padding-top:50px; text-align:center; background:url(../img/nav_bg.png) no-repeat; color:#333; 
				&:hover{ color:#a70c01; font-weight:bold; }
			}
		}
	}
	.bg1 { background-position:0 0; }
	.bg2 { background-position:-66px 0; }
	.bg3 { background-position:-132px 0; }
	.bg4 { background-position:-198px 0; }
	.bg5 { background-position:-264px 0; }
	.bg6 { background-position:-330px 0; }
	.bg7 { background-position:-396px 0; }
	.bg8 { background-position:-462px 0; }
	.bg9 { background-position:-528px 0; }
	.bg10 { background-position:-594px 0; }

	.bg1:hover { background-position:0 -70px; }
	.bg2:hover { background-position:-66px -70px; }
	.bg3:hover { background-position:-132px -70px; }
	.bg4:hover { background-position:-198px -70px; }
	.bg5:hover { background-position:-264px -70px; }
	.bg6:hover { background-position:-330px -70px; }
	.bg7:hover { background-position:-396px -70px; }
	.bg8:hover { background-position:-462px -70px; }
	.bg9:hover { background-position:-528px -70px; }
	.bg10:hover { background-position:-594px -70px; }

}

#search{
	@include common_border();
	width: 958px;
	height: 114px;
	margin: 0 auto 10px;
	position: relative;
	.bar{
		width: 958px;
		height: 64px;
		border: 1px solid #c40d0e;
		position:absolute; 
		top:16px; 
		left:-1px; 
		background:#e21c01; 
		border-radius:5px; 
		box-shadow:1px 2px 2px rgba(0,0,0,0.15);
		.menu{
			position: absolute;
			left: 226px;
			top: -27px;
			li{
				float: left;
				width: 78px;
				height: 25px;
				margin-right:1px; 
				display:inline-block; 
				border:1px solid #f8d0bf; 
				border-bottom:none; 
				text-align:center; 
				line-height:25px; 
				font-size:14px; 
				cursor:pointer; 
				border-radius:5px 5px 0 0; 
				box-shadow:1px 0px 2px rgba(176,176,176,0.3);
				&.active{
					border:1px solid #e21c01; 
					position:relative; 
					top:-1px; 
					height:27px; 
					background:#e21c01; 
					color:#fff; 
					font-weight:bold; 
					text-shadow:2px 2px 3px rgba(0,0,0,0.25);
				}
			}
		}

	}
	.img{
			width:163px; 
			height:122px; 
			background:url(../img/search_img.png) no-repeat; 
			position:absolute; 
			left:32px; 
			top:-3px; 
			z-index:2;
		}

	.form{
		position:absolute; 
		left:226px; 
		top:36px; 
		z-index:3;
		.text{
			width:380px; 
			height:22px; 
			line-height:22px; 
			padding:0 12px; 
			border:none; 
			background:#fff1ef; 
			border-radius:3px; 
			float:left; 
			margin-right:10px; 
			font-size:12px; 
			font-family:'微软雅黑'; 
			color:#ea7a7a; 
			box-shadow:inset 2px 2px 3px rgba(0,0,0,0.25);
		}
		.btn{
			width:63px; 
			height:26px; 
			border:none; 
			background:url(../img/search_img.png) no-repeat -163px 0; 
			float:left;
		}
	}

	.key_text{
		width:206px; 
		color:#fff; 
		line-height:18px; 
		position:absolute; 
		top:30px; 
		right:36px;
		a{
			color: #fff;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.content{
	width: 960px;
	margin: 0 auto;
	.main{
		width: 710px;

		.main_wrap{
			padding-bottom: 10px;
			background-color: lightgray;
			.section,.activity,.recommand{
				@include common_border();
			}
			.section{
				width:318px; 
				padding:0 15px;
				background-color: lightgreen;
			}
			.video{
				h2{
					height:42px;
					line-height: 42px;
					color: #d90000;
					font-size:18px;
					font-family: arial;
					font-weight:normal;
					background:url(../img/video_bg.gif) no-repeat 105px 10px; 
				}
				ul{
					padding: 13px 0 17px 84px;
					background:url(../img/video_bg.gif) no-repeat 3px -33px; 
					a{
						height:20px;
						line-height: 20px;
						color:#4d4d4d;
						display:block;
						&:hover{text-decoration: underline;}
						padding-left: 5px;
						background:url(../img/dot.gif) no-repeat 0 8px; 
					}
				}
			}
		}
		.main_ad{
			border-radius: 6px;
			overflow: hidden;
			margin-bottom: 10px;
		}
		
	}
	.side{
		width: 240px;
		.login,.rotate,.ad,.side_section{
			@include common_border();
			margin-bottom: 10px;
		}
		.rotate,.ad{
			overflow:hidden;
		}
		.side_section{
			width:214px;
			padding: 0 12px;
		}
	}	
	
}

// layout end