@charset "UTF-8";
/* line 4, src/sass/_base.scss */
body, h1, h2, h3, h4, h5, h6, ol, ul, li, form, input, textarea, select, option, table, th, tr, td, dl, dd, p {
  margin: 0;
  padding: 0;
}

/* line 5, src/sass/_base.scss */
input, textarea {
  outline: none;
}

/* line 6, src/sass/_base.scss */
textarea {
  resize: none;
  overflow: hidden;
}

/* line 7, src/sass/_base.scss */
table {
  border-collapse: collapse;
}

/* line 8, src/sass/_base.scss */
em {
  font-style: normal;
}

/* line 9, src/sass/_base.scss */
a {
  text-decoration: none;
}

/* line 10, src/sass/_base.scss */
img {
  border: none;
  vertical-align: top;
}

/* line 11, src/sass/_base.scss */
li {
  list-style: none;
}

/* line 12, src/sass/_base.scss */
body {
  font-size: 12px;
  font-family: "微软雅黑";
  padding-bottom: 30px;
}

/* line 17, src/sass/_base.scss */
.clear {
  zoom: 1;
}

/* line 18, src/sass/_base.scss */
.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* line 19, src/sass/_base.scss */
.fl {
  float: left;
}

/* line 20, src/sass/_base.scss */
.fr {
  float: right;
}

/* line 22, src/sass/_base.scss */
.gradient {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #FFFFFF, #f8f8f8);
  background: -webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
  background: -ms-linear-gradient(top, #FFFFFF, #f8f8f8);
  background: linear-gradient(top, #FFFFFF, #f8f8f8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
}

/* line 32, src/sass/_base.scss */
.common_title p {
  height: 40px;
  line-height: 40px;
  color: #cc0d13;
  font-weight: bold;
}

/* line 37, src/sass/_base.scss */
.common_title p span {
  color: #000;
}

/* line 41, src/sass/_base.scss */
.common_title a {
  position: relative;
  top: 13px;
}

/* line 16, src/sass/main.scss */
#header {
  width: 960px;
  height: 30px;
  margin: 0 auto;
  border-radius: 0 0 6px 6px;
}

/* line 21, src/sass/main.scss */
#header .city {
  float: left;
  padding: 5px 0 0 20px;
  color: #666;
}

/* line 25, src/sass/main.scss */
#header .city a {
  display: inline-block;
  padding: 0 7px;
  height: 18px;
  line-height: 18px;
  color: #999;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #ededed;
}

/* line 32, src/sass/main.scss */
#header .city a.active {
  color: #d60d03;
  background: #fff;
}

/* line 35, src/sass/main.scss */
#header .city a:hover {
  background: #f1f1f1;
}

/* line 40, src/sass/main.scss */
#header .link {
  float: right;
  padding-right: 20px;
  line-height: 30px;
  color: #d5d5d5;
  word-spacing: 4px;
}

/* line 43, src/sass/main.scss */
#header .link a {
  color: #666;
  background: url(../img/header_link_bg.gif) no-repeat 0 3px;
  padding-left: 20px;
}

/* line 45, src/sass/main.scss */
#header .link a:hover {
  text-decoration: underline;
}

/* line 46, src/sass/main.scss */
#header .link a.ico1 {
  background-position: 0 3px;
}

/* line 47, src/sass/main.scss */
#header .link a.ico2 {
  background-position: 0 -27px;
}

/* line 52, src/sass/main.scss */
#nav {
  width: 960px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

/* line 57, src/sass/main.scss */
#nav h1 {
  width: 223px;
  height: 62px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

/* line 64, src/sass/main.scss */
#nav ul {
  position: absolute;
  top: 10px;
}

/* line 65, src/sass/main.scss */
#nav ul.nav_1 {
  left: 11px;
}

/* line 66, src/sass/main.scss */
#nav ul.nav_2 {
  right: 11px;
}

/* line 69, src/sass/main.scss */
#nav ul li {
  float: left;
}

/* line 71, src/sass/main.scss */
#nav ul li a {
  display: block;
  width: 66px;
  padding-top: 50px;
  text-align: center;
  background: url(../img/nav_bg.png) no-repeat;
  color: #333;
}

/* line 73, src/sass/main.scss */
#nav ul li a:hover {
  color: #a70c01;
  font-weight: bold;
}

/* line 77, src/sass/main.scss */
#nav .bg1 {
  background-position: 0 0;
}

/* line 78, src/sass/main.scss */
#nav .bg2 {
  background-position: -66px 0;
}

/* line 79, src/sass/main.scss */
#nav .bg3 {
  background-position: -132px 0;
}

/* line 80, src/sass/main.scss */
#nav .bg4 {
  background-position: -198px 0;
}

/* line 81, src/sass/main.scss */
#nav .bg5 {
  background-position: -264px 0;
}

/* line 82, src/sass/main.scss */
#nav .bg6 {
  background-position: -330px 0;
}

/* line 83, src/sass/main.scss */
#nav .bg7 {
  background-position: -396px 0;
}

/* line 84, src/sass/main.scss */
#nav .bg8 {
  background-position: -462px 0;
}

/* line 85, src/sass/main.scss */
#nav .bg9 {
  background-position: -528px 0;
}

/* line 86, src/sass/main.scss */
#nav .bg10 {
  background-position: -594px 0;
}

/* line 88, src/sass/main.scss */
#nav .bg1:hover {
  background-position: 0 -70px;
}

/* line 89, src/sass/main.scss */
#nav .bg2:hover {
  background-position: -66px -70px;
}

/* line 90, src/sass/main.scss */
#nav .bg3:hover {
  background-position: -132px -70px;
}

/* line 91, src/sass/main.scss */
#nav .bg4:hover {
  background-position: -198px -70px;
}

/* line 92, src/sass/main.scss */
#nav .bg5:hover {
  background-position: -264px -70px;
}

/* line 93, src/sass/main.scss */
#nav .bg6:hover {
  background-position: -330px -70px;
}

/* line 94, src/sass/main.scss */
#nav .bg7:hover {
  background-position: -396px -70px;
}

/* line 95, src/sass/main.scss */
#nav .bg8:hover {
  background-position: -462px -70px;
}

/* line 96, src/sass/main.scss */
#nav .bg9:hover {
  background-position: -528px -70px;
}

/* line 97, src/sass/main.scss */
#nav .bg10:hover {
  background-position: -594px -70px;
}

/* line 101, src/sass/main.scss */
#search {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  width: 958px;
  height: 114px;
  margin: 0 auto 10px;
  position: relative;
}

/* line 107, src/sass/main.scss */
#search .bar {
  width: 958px;
  height: 64px;
  border: 1px solid #c40d0e;
  position: absolute;
  top: 16px;
  left: -1px;
  background: #e21c01;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
}

/* line 117, src/sass/main.scss */
#search .bar .menu {
  position: absolute;
  left: 226px;
  top: -27px;
}

/* line 121, src/sass/main.scss */
#search .bar .menu li {
  float: left;
  width: 78px;
  height: 25px;
  margin-right: 1px;
  display: inline-block;
  border: 1px solid #f8d0bf;
  border-bottom: none;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  box-shadow: 1px 0px 2px rgba(176, 176, 176, 0.3);
}

/* line 135, src/sass/main.scss */
#search .bar .menu li.active {
  border: 1px solid #e21c01;
  position: relative;
  top: -1px;
  height: 27px;
  background: #e21c01;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

/* line 149, src/sass/main.scss */
#search .img {
  width: 163px;
  height: 122px;
  background: url(../img/search_img.png) no-repeat;
  position: absolute;
  left: 32px;
  top: -3px;
  z-index: 2;
}

/* line 159, src/sass/main.scss */
#search .form {
  position: absolute;
  left: 226px;
  top: 36px;
  z-index: 3;
}

/* line 164, src/sass/main.scss */
#search .form .text {
  width: 380px;
  height: 22px;
  line-height: 22px;
  padding: 0 12px;
  border: none;
  background: #fff1ef;
  border-radius: 3px;
  float: left;
  margin-right: 10px;
  font-size: 12px;
  font-family: '微软雅黑';
  color: #ea7a7a;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
}

/* line 179, src/sass/main.scss */
#search .form .btn {
  width: 63px;
  height: 26px;
  border: none;
  background: url(../img/search_img.png) no-repeat -163px 0;
  float: left;
}

/* line 188, src/sass/main.scss */
#search .key_text {
  width: 206px;
  color: #fff;
  line-height: 18px;
  position: absolute;
  top: 30px;
  right: 36px;
}

/* line 195, src/sass/main.scss */
#search .key_text a {
  color: #fff;
}

/* line 197, src/sass/main.scss */
#search .key_text a:hover {
  text-decoration: underline;
}

/* line 204, src/sass/main.scss */
.content {
  width: 960px;
  margin: 0 auto;
}

/* line 207, src/sass/main.scss */
.content .main {
  width: 710px;
}

/* line 210, src/sass/main.scss */
.content .main .main_wrap {
  padding-bottom: 10px;
}

/* line 213, src/sass/main.scss */
.content .main .main_wrap .section, .content .main .main_wrap .activity, .content .main .main_wrap .recommand {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

/* line 216, src/sass/main.scss */
.content .main .main_wrap .section {
  width: 318px;
  padding: 0 15px;
}

/* line 222, src/sass/main.scss */
.content .main .main_wrap .video h2 {
  height: 42px;
  line-height: 42px;
  color: #d90000;
  font-size: 18px;
  font-family: arial;
  font-weight: normal;
  background: url(../img/video_bg.gif) no-repeat 105px 10px;
}

/* line 231, src/sass/main.scss */
.content .main .main_wrap .video ul {
  padding: 13px 0 17px 84px;
  background: url(../img/video_bg.gif) no-repeat 3px -33px;
}

/* line 234, src/sass/main.scss */
.content .main .main_wrap .video ul a {
  height: 20px;
  line-height: 20px;
  color: #4d4d4d;
  display: block;
  padding-left: 5px;
  background: url(../img/dot.gif) no-repeat 0 8px;
}

/* line 239, src/sass/main.scss */
.content .main .main_wrap .video ul a:hover {
  text-decoration: underline;
}

/* line 246, src/sass/main.scss */
.content .main .main_wrap .help .contact {
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 0;
}

/* line 249, src/sass/main.scss */
.content .main .main_wrap .help .contact .message {
  height: 40px;
  line-height: 20px;
  text-indent: 24px;
}

/* line 254, src/sass/main.scss */
.content .main .main_wrap .help .contact .phone_mail {
  height: 32px;
  width: 100%;
  position: relative;
}

/* line 258, src/sass/main.scss */
.content .main .main_wrap .help .contact .phone_mail .phone {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #b80000;
  position: absolute;
  left: 7px;
  top: 0;
  padding-left: 20px;
  background: url("../img/help.gif") no-repeat 0 7px;
}

/* line 270, src/sass/main.scss */
.content .main .main_wrap .help .contact .phone_mail .mail {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #696969;
  position: absolute;
  left: 170px;
  top: 0;
  padding-left: 25px;
  background: url("../img/help.gif") no-repeat 0 -35px;
}

/* line 283, src/sass/main.scss */
.content .main .main_wrap .help .help_info {
  width: 100%;
  height: 116px;
  position: relative;
}

/* line 287, src/sass/main.scss */
.content .main .main_wrap .help .help_info li {
  height: 18px;
  line-height: 18px;
}

/* line 290, src/sass/main.scss */
.content .main .main_wrap .help .help_info li a {
  color: #292929;
  padding-left: 14px;
  background: url("../img/dot.gif") no-repeat 5px 6px;
}

/* line 294, src/sass/main.scss */
.content .main .main_wrap .help .help_info li a.ul_header {
  font-weight: bold;
  padding-left: 0;
  background-image: none;
}

/* line 299, src/sass/main.scss */
.content .main .main_wrap .help .help_info li a:hover {
  text-decoration: underline;
}

/* line 302, src/sass/main.scss */
.content .main .main_wrap .help .help_info .user_help {
  position: absolute;
  left: 7px;
  top: 17px;
}

/* line 307, src/sass/main.scss */
.content .main .main_wrap .help .help_info .corp_help {
  position: absolute;
  left: 180px;
  top: 17px;
}

/* line 315, src/sass/main.scss */
.content .main .main_wrap .media ul {
  padding: 15px 0 18px 0;
}

/* line 317, src/sass/main.scss */
.content .main .main_wrap .media ul li {
  height: 44px;
}

/* line 319, src/sass/main.scss */
.content .main .main_wrap .media ul li a {
  overflow: hidden;
}

/* line 322, src/sass/main.scss */
.content .main .main_wrap .media ul li p {
  padding-left: 10px;
  height: 44px;
  line-height: 22px;
}

/* line 330, src/sass/main.scss */
.content .main .main_wrap .hot_person {
  padding-bottom: 20px;
}

/* line 332, src/sass/main.scss */
.content .main .main_wrap .hot_person li {
  margin: 0 2px 2px 0;
}

/* line 334, src/sass/main.scss */
.content .main .main_wrap .hot_person li.person3, .content .main .main_wrap .hot_person li.person7, .content .main .main_wrap .hot_person li.person11 {
  margin-right: 0;
}

/* line 337, src/sass/main.scss */
.content .main .main_wrap .hot_person li.person8, .content .main .main_wrap .hot_person li.person9, .content .main .main_wrap .hot_person li.person10, .content .main .main_wrap .hot_person li.person11 {
  margin-bottom: 0;
}

/* line 343, src/sass/main.scss */
.content .main .main_ad {
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 350, src/sass/main.scss */
.content .side {
  width: 240px;
}

/* line 352, src/sass/main.scss */
.content .side .login, .content .side .rotate, .content .side .ad, .content .side .side_section {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* line 356, src/sass/main.scss */
.content .side .rotate, .content .side .ad {
  overflow: hidden;
}

/* line 359, src/sass/main.scss */
.content .side .side_section {
  width: 214px;
  padding: 0 12px;
}
